@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-base;
}

p,
h1,
h2,
h3,
h4,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  @apply my-4 text-3xl font-bold text-primary bg-secondary py-2
}

ul {
  @apply my-4
}

li {
  @apply py-2
}

.card {
  @apply p-4 bg-white rounded-lg shadow-lg cursor-pointer sm:w-[270px] 
    hover:scale-105 hover:opacity-75;
}

.sidebar {
  @apply bg-white min-w-[300px] h-screen pt-8 mr-4 text-center;
}

.routes-path {
  @apply flex items-center justify-center text-base capitalize text-gray-dark font-medium w-2/4 mx-auto gap-1 py-1
    hover:text-white hover:bg-primary hover:rounded-lg hover:px-2;
}

.positive {
  @apply border-l-success bg-primary 
    hover:bg-success-ground hover:text-white;
}

.dange {
  @apply border-l-error bg-error 
    hover:bg-error-ground hover:text-white;
}

.standard {
  @apply border text-center font-semibold 
    hover:bg-gray hover:text-white;
}

.tag-green {
  @apply text-primary;
}

.tag-red {
  @apply text-error;
}

.tag-blue {
  @apply text-blue;
}

