@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-base;
}

p,
h1,
h2,
h3,
h4,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  @apply text-xl font-bold text-primary bg-secondary py-2 px-2;
}

header {
  @apply bg-white h-[110px];
}

ul {
  @apply my-4;
}

li {
  @apply py-2;
}

.container {
  @apply w-5/6 mx-auto py-2;
}

.card {
  @apply bg-white rounded-lg shadow-lg cursor-pointer sm:w-[300px] 
    hover:scale-105 hover:opacity-75;
}

.card-down {
  @apply bg-white block items-center gap-4 p-4 my-4 shadow-lg md:flex md:justify-between;
}

.routes-path {
  @apply text-base capitalize text-gray-dark font-medium gap-5 py-1 px-2 mt-2 mr-4
    hover:text-gray hover:underline hover:rounded-lg;
}

.positive {
  @apply border-l-success bg-primary 
    hover:bg-success-ground hover:text-white;
}

.dange {
  @apply border-l-error bg-error 
    hover:bg-error-ground hover:text-white;
}

.standard {
  @apply border text-center font-semibold 
    hover:bg-gray hover:text-white;
}

.tag-green {
  @apply text-primary;
}

.tag-red {
  @apply text-error;
}

.tag-blue {
  @apply text-blue;
}

.btn {
  @apply bg-primary w-full py-2 px-5 rounded-3xl uppercase font-semibold hover:bg-success-ground shadow-xl 
    hover:text-white;
}

input {
  @apply w-full my-8 block pl-5 py-2 text-sm text-gray-dark border border-gray-light rounded-lg bg-gray-light focus:border-primary focus:ring-primary focus:outline-none focus:ring focus:ring-opacity-40;
}
